<h1>Listado de productos</h1>

<div class="row">
    {{#each productos}}
        {{#if status}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">Description {{description}}</p>
                <p class="card-text">Code {{code}}</p>
                <p class="card-text">Category {{category}}</p>
                <p class="card-text">Price: ${{price}}</p>
                <p class="card-text">Stock: {{stock}}</p>
                <button class="btn btn-primary add-to-cart-btn" data-product-id="{{_id}}">Agregar al carrito</button>
            </div>
        </div>
        {{/if}}
    {{/each}}
</div>
<script>
    const cartId = '{{cartId}}';
    
    if (!cartId) {
        alert('No se ha encontrado un carrito válido');
    }

    document.querySelectorAll('.add-to-cart-btn').forEach(button => {
        button.addEventListener('click', function() {
            const productId = this.getAttribute('data-product-id');  
            const quantity = 1;

            fetch(`/api/carts/${cartId}/products/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ quantity })
            })
            .then(response => response.json())
            .then(data => {
                if (data.mensaje) {
                    alert(data.mensaje);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Hubo un error al agregar el producto al carrito');
            });
        });
    });
    
</script>


